* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logoandfirstbar{
    display: flex;
    gap: 50px;
}

.firstandsecondnav {
    display: flex;
    align-items: center;
    gap: 38%;
    padding: 40px;
}

.navlink {
    display: flex;
    align-items: center;
    gap: 30px;
}

.imagesandFAS {
    display: flex;
    align-items: center;
    gap: 5px;
}

.firstandsecondnav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbtn1 button {
    height: 34px;
    width: 85px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
}

.navbtn2 button {
    height: 32px;
    width: 95px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
}
.harmbugger{
    display: none;
}
.feahr hr{
    height: 1px;
    width: 100%;
    box-shadow: 1px 0px 2px gray;
    margin-top: -20px;
}
.featured{
    margin-top: -20px;
}
.featxt{
    font-size: 50px;
    color: #025B2D;
    font-family: 'Soho Gothic Pro', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}
.allcard1{
    height: auto;
    width: 48.5%;
    background-color: black;
}
.card1{
    height: 520px;
    width: 100%;
    background-image: url("images/Starbucks-Holiday25-PeppermintMocha.jpg");
    background-position: center;
    background-size: cover;
    
}
.card2{
    height: 520px;
    width: 100%;
    background-image: url("images/Starbucks-Holiday25-IcedGingerbreadOatmilkChaiTeaLatteAlt.jpg");
    background-position: center;
    background-size: cover;
}
.ALLcards{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    padding-top: 10px;
    height: auto;
    /* background-color: red; */
    align-items: center;



}
.card1b{
    height: 300px;
    width: 100%;
    background-color: #C22340;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card1btxt{
    text-align: center;
    font-family: 'Soho Gothic Pro', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
    
}
.card1btxtb{
    text-align: center;
    font-size: 19px;
    color: white;
    font-family: 'Soho Gothic Pro', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}
.card1bbtn button{
    height: 35px;
    width: 120px;
    border: 1px solid #FFFFFF;
    border-radius: 20px; 
    background-color: #C22340;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
}
.allcard2{
    height: 820px;
    width: 48.5%;
    background-color: black;
}
.card2b{
    height: 300px;
    width: 100%;
    background-color: #C22340;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card2btxt{
    text-align: center;
    text-align: center;
    font-family: 'Soho Gothic Pro', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.card2btxtb{
    text-align: center;
    text-align: center;
    font-size: 19px;
    color: white;
    font-family: 'Soho Gothic Pro', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}
.card2bbtn button{
    height: 35px;
    width: 140px;
    border: 1px solid #FFFFFF;
    border-radius: 20px; 
    background-color: #C22340;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
}
.sec2card1{
    height: 500px;
    width: 50%;
    background-image: url("images/Starbucks-Holiday25-CranberryBlissBar.jpg");
    background-position: center;
    background-size: cover;
}
.sec2card2{
    height: 500px;
    width: 50%;
    background-color: #025B2D;
}
.sec2{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    
}
.sec2card2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sec2cardtxt{
    text-align: center;
    font-family: 'Soho Gothic Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 55px;
}
.sec2cardtxtb{
    font-family: 'Soho Gothic Pro', 'Helvetica Neue', Arial, sans-serif;
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}
.sec2cardbtn button{
    height: 35px;
    width: 130px;
    border: 1px solid #FFFFFF;
    border-radius: 20px; 
    background-color: #025B2D;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
    margin-top: 40px;
}
.card1sec3{
    background-image: url("images/starbucks-breakfast-sandwich-photo.webp");
    background-position: center;
    background-size: cover;
}
.card1bsec3{
    background-color: #025B2D;
}
.card1bbtnsec3 button{
    background-color: #025B2D;
}
.card2sec3{
    background-image: url("images/Starbucks-Tomato-and-Mozzarella-on-Focaccia-Pin-3-1200x1200.jpg");
    background-position: center;
    background-size: cover;
}
.card2bsec3{
    background-color: #025B2D;
}
.card2bbtnsec3 button{
    background-color: #025B2D;
}





.sec7hr hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.098);
    width: 100%;
    margin-top: 40px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.363);
}

.footer1 {
    font-size: 20px;
}

.footer1 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer2 {
    font-size: 20px;
}

.footer2 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer3 {
    font-size: 20px;
}

.footer3 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer4 {
    font-size: 20px;
}

.footer4 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer5 {
    font-size: 20px;
}

.footer5 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.Allfootertxt {
    display: flex;
    gap: 50px;
    margin: 40px;
    flex-wrap: wrap;
}

.Allfootertxt a:hover {
    color: black;
}

.footerhr hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.098);
    width: 94%;
    margin-top: 40px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.363);
    margin-left: 40px;
}

.ALLicons {
    display: flex;
    gap: 15px;
    margin: 40px;
}

.footer6 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.footer6 a:hover {
    text-decoration: underline;
}

.footer6 {
    margin-left: 40px;
}


.featxt2{
    display: none;
}





@media(max-width:900px){

    .ALLcards{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .allcard2{
        width: 100%;

    }
    .allcard1{
        width: 100%;
    }
    .card1b{
        height: auto;
        padding: 20px;
    }
    .card2b{
        height: auto;
        padding: 20px;
    }
    .navlink a{
        display: none;
    }

    .navbar {
        height: 90px;
        display: flex;
    }

    .navbtn1 {
        display: none;
    }

    .navbtn2 {
        display: none;
    }

    .firstandsecondnav {
        display: flex;
        justify-content: space-between;
       gap:230px;
       margin-top: 20px;
    }

    .harmbugger {
        font-size: 25px;
        display: flex;
    }

    /* .navlink a {
        display: none;
    } */

    .imagesandFAS {
        display: none;
    }
    .feahr{
        margin-top: 30px;
    }
    .featxt{
        font-size: 22px;
    }
    .featxt1{
        display: none;
    }
    .sec2{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 10px;
    }
    .sec2card1{
        width: 100%;

    }
    .sec2card2{
        width: 100%;

    }
    .footerhr{
        width: 350px;
    }
    .bbbb{
        margin-top: 20px;
    }
    .Asss{
        margin-top: 20px;
    }
   .cccc{
    margin-top: 60px;
   }
   .card2b{
    height: auto;
    padding: 30px;
   }
}