* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logoandfirstbar{
    display: flex;
    gap: 50px;
}

.firstandsecondnav {
    display: flex;
    align-items: center;
    gap: 37%;
    padding: 40px;
}

.navlink {
    display: flex;
    align-items: center;
    gap: 30px;
}


.navbar{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
    left: 0px;
}
.imagesandFAS {
    display: flex;
    align-items: center;
    gap: 5px;
}

.firstandsecondnav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbtn1 button {
    height: 34px;
    width: 85px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
}

.navbtn2 button {
    height: 32px;
    width: 95px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
}
.harmbugger{
    display: none;
}

.feahr hr {
    height: 1px;
    width: 100%;
    box-shadow: 1px 0px 2px gray;
    margin-top: -30px;

}
.bigunderline {
    position: relative;

}

.bigunderline::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #025B2D;
    bottom: -28px;
    left: 0px;
}


.FASdiv1{
    height: 400px;
    width: 40%;
    /* background-color: rgb(127, 53, 53); */
}
.FASdiv2{
    height: 400px;
    width: 60%;
    /* background-color: yellow; */
}
.FASbothdiv{
    display: flex;
    flex-wrap: wrap;
   
    height: 100%;
    align-items: center;
    padding-top: 30px;
}
.bothbtncontainer{
    height: 37px;
    width: 303px;
    border: 1px solid #025B2D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 90px;
}
.bothbtn{
    display: flex;
    align-items: center;
}
.btnONE1 button{
    height: 35px;
    width: 150px;
    background-color:  #025B2D;
    border: 2px solid  green;
    border-radius: 20px;
    font-size: 18px;
    color: white;
}

.btnTWO2 button:hover{
    height: 35px;
    width: 150px;
    background-color:  #025b2d30;
    border-radius: 20px;
    font-size: 18px;
    color: #025B2D;
}
.btnTWO2 button{
    height: 35px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: #025B2D;
    font-size: 18px;
}

.FASFASdiv1b input::placeholder{
color: black;
padding: 5px;
}
.FASFASdiv1b input{
    height: 40px;
    width: 70%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 40px;
    
}
.filterbtn button{
    height: 30px;
    width: 70px;
    border: 1px solid #025B2D;
    border-radius: 20px;
}
.FASFASdiv1b{
    display:flex ;
    gap: 20px;
    align-items: center;
    margin-top: 40px;

}
.scroll{
    overflow-y: scroll;
    height: 260px;
  
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px 35px;

   
}
.FASdiv1txtA{
    font-size: 25px;
    font-weight: bold;
    /* padding-top: 60px; */
 
    
}
 .FASdiv1txtB{ 
    padding-top: 20px;
  
} 
.FASFASdiv1d{
    margin-top: 40px;
}
.FASdiv1txtB{
    color: grey;
    font-size: 17px;
}
.FASFASdiv1d a{
    text-decoration: none;
    color: #025B2D;
}
.FASFASdiv1dtxTandimg{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
   
}
.FASdiv1txt:hover{
    height: auto;
    width: auto;
    background-color: rgba(95, 93, 93, 0.151);
}
.FASdiv1txt{
   
}

.findastoresec2{
    height: 100%;
    background-color: blue;
}

