* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoandfirstbar {
    display: flex;
    gap: 50px;
}

.firstandsecondnav {
    display: flex;
    align-items: center;
    gap: 38%;
    padding: 40px;
}

.navlink {
    display: flex;
    align-items: center;
    gap: 30px;
}

.imagesandFAS {
    display: flex;
    align-items: center;
    gap: 5px;
}

.firstandsecondnav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbtn1 button {
    height: 34px;
    width: 85px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
}

.navbtn2 button {
    height: 32px;
    width: 95px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
}

.harmbugger {
    display: none;
}

.menunavbar {
    height: 50px;
    width: 100%;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    box-shadow: 1px 0px 3px gray;
    /* position: fixed; */
}

.menunavlink {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 12px;
    margin-left: 9.5%;
}

.menunavlink a {
    text-decoration: none;
    color: black;
}

.feahr hr {
    height: 1px;
    width: 100%;
    box-shadow: 1px 0px 2px gray;
    margin-top: -30px;
}

.card {
    height: 155px;
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 240px;
}

.card:hover {
    transform: translatey(-5px);
    transition: transform 0.3s ease-out;
}

.allcards {
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    height: 230px;
    padding-left: 9.5%;

}

.giftcards {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: black;
    padding-left: 9.5%;
    margin-top: 50px;
}

.ftrd {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;

}

.ftrdandseeall {
    display: flex;
    gap: 85%;
    padding-left: 9.5%;
    margin-top: 50px;
    align-items: center;
}

.seeall {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: green;
}

.seeall a {
    text-decoration: none;
    color: darkgreen;
}

.sec2cardtxt {
    font-size: 18px;

}

.RGC {
    font-size: 25px;
    font-weight: 600;
}

.E2S {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.587);
}







.sec2card {
    height: 100px;
    width: 90%;
    background-color: #f2f2f0;
    border-radius: 10px;
    margin-left: 9.5%;
}

.sec2cardtxtandimg {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    padding-left: 25px;
}

.sec3card {
    height: 150px;
    width: 100%;
    background-color: #1e4d2b65;
    margin-top: 30px;
}

.txtandbtns {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 7%;
    padding-top: 40px;
    flex-wrap: wrap;
}

.sec3cardbtna {
    height: 37px;
    width: 150px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
}

.sec3cardbtnb {
    height: 37px;
    width: 150px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.CardTermslink {
    display: flex;

}

.CardTermslink a {
    text-decoration: none;
    color: darkgreen;
    font-weight: 600;
}

.CardTermslinkandimg {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 40px;
    padding-top: 45px;
    justify-content: right;
    flex-wrap: wrap;

}

.sec4card {
    height: 155px;
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 240px;
    margin-top: 30px;
}

.sec4card:hover {
    transform: translatey(-5px);
    transition: transform 0.3s ease-out;
}

.sec4HK {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-top: 50px;
}

.sec4 {
    padding-left: 9.5%;
    height: 230px;
}

.section5RedCup {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-top: 50px;
    padding-left: 9.5%;
}

.section5card1 {
    height: 155px;
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 240px;
    margin-top: 30px;
}

.section5card1:hover {
    transform: translatey(-5px);
    transition: transform 0.3s ease-out;
}

.section5card2 {
    height: 155px;
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 240px;
    margin-top: 30px;
}

.section5card2:hover {
    transform: translatey(-5px);
    transition: transform 0.3s ease-out;
}

.twosection5cards {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 9.5%;
}

.section6txt {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-top: 50px;
    padding-left: 9.5%;
}

.section6card {
    height: 155px;
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 240px;
    margin-top: 30px;
}

.section6card:hover {
    transform: translatey(-5px);
    transition: transform 0.3s ease-out;
}

.allsec6threecards {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 9.5%;
}



.sec5btn {
    display: flex;
    height: 35px;
    width: 130px;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    gap: 10px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.sec5 {
    display: flex;
    gap: 50px;
    margin-left: 10%;
    margin-top: 80px;
        flex-wrap: wrap;
}

.sec5txt {
    font-size: 28px;
    font-weight: 500;
    color: black;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 20px;
}

.sec5txt2 {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: lighter;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.728);
}

.sec5btn:hover {
    background-color: rgba(0, 0, 0, 0.308);
}

.sec6 {
    height: 400px;
    width: 100%;
    background-color: #EDEBE9;
    margin-top: 50px;
}

.sec6btn {
    display: flex;
    height: 35px;
    width: 130px;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
}

.sec6btn:hover {
    background-color: rgba(0, 0, 0, 0.308);
}

.sec6bbtn {
    display: flex;
    height: 35px;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
}

.sec6bbtn:hover {
    background-color: rgba(0, 0, 0, 0.308);
}

.ALLSEC6txt {
    display: flex;
    gap: 40px;
    padding-top: 50px;
    padding-left: 10%;
    flex-wrap: wrap;
}

.sec6txt {
    font-size: 18px;
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.sec6txt2a {
    font-size: 18px;
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.sec6btxt {
    font-size: 18px;
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.sec6txtb {
    font-size: 15px;
}

.sec6txt2b {
    font-size: 15px;
}



.footer1 {
    font-size: 20px;
}

.footer1 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer2 {
    font-size: 20px;
}

.footer2 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer3 {
    font-size: 20px;
}

.footer3 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer4 {
    font-size: 20px;
}

.footer4 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer5 {
    font-size: 20px;
}

.footer5 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.Allfootertxt {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.Allfootertxt a:hover {
    color: black;
}

.footerhr hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.098);
    width: 94%;
    margin-top: 40px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.363);
    /* margin-left: 40px; */
}

.ALLicons {
    display: flex;
    gap: 15px;
    margin: 40px;
}

.footer6 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.footer6 a:hover {
    text-decoration: underline;
}

.footer6 {}

.footer {
    padding-left: 10%;
}




.bigunderline {
    position: relative;

}

.bigunderline::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #025B2D;
    bottom: -28px;
    left: 0px;

}
.forMlv{
    display: none;
}





@media(max-width:900px) {
    .navlink a {
        display: none;
    }

    .harmbugger {
        font-size: 25px;
        display: flex;
    }

    .firstandsecondnav {
        display: flex;
        justify-content: space-between;
        gap: 200px;
        margin-bottom: -35px;
    }


    .navbtn1 {
        display: none;
    }

    .navbtn2 {
        display: none;
    }

    .imagesandFAS {
        display: none;
    }

    .card {
        min-width: 170px;
        height: 105px;
        border-radius: 5px;
    }

    .allcards {
        margin-left: -18px;
        display: flex;
        gap: 15px;
        width: 100%;
    }

    .section5card2 {
        min-width: 130px;
        height: 105px;
        border-radius: 5px;
    }

    .section5card1 {
        min-width: 130px;
        height: 105px;
        border-radius: 5px;
    }

    .twosection5cards {
        margin-left: -18px;
        display: flex;
        gap: 15px;
        width: 100%;

    }

    .section6card {
        min-width: 170px;
        height: 105px;
        border-radius: 5px;
    }

    .allsec6threecards {
        margin-left: -18px;
        display: flex;
        gap: 15px;
        overflow-x: scroll;
        width: 100%;
    }
    .sec4card{
        min-width: 175px;
        height: 105px;
        border-radius: 5px;
        width: 175px;
        margin-left: -18px;
    }
    .ftrdandseeall{
        /* width: 100%; */
        padding-left: 10px;
        display: flex;
        gap: 20px;
        /* justify-content: space-between; */
        align-items: center;
    }
    .forMlv{
        display: flex;
    }
    .sec2card{
        width: 90%;
        margin: 20px;
    }
    .sec2cardtxt{
        font-size: 14px;
        padding-left: -10px;
    }
    .sec2img img{
        width: 50px;
        margin-left: -10px;
    }
    .sec3card{
        height: 210px;
    }
    .txtandbtns {
    display: flex;
    gap: 0px;
    align-items: center;
    margin-left: 7%;
    padding-top: 40px;
    flex-wrap: wrap;
}
.CardTermslinkandimg {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
    padding-top: 20px;
    justify-content: right;
    flex-wrap: wrap;
}
.RGC{
    font-size: 25px;
}
.E2S{
    font-size: 22px;
}
.sec3cardtwobtns{
    margin-top: 20px;
    display: flex;
    gap: 7px;
        width: 240px;
        font-size: 10px;

}
.sec3cardbtna{
    /* width: 120px; */
     font-size: 13px;
}
.sec3cardbtnb{
         font-size: 13px;
}
.sec5img{
    /* width: 50px; */
    margin-left: -20px;
}
.sec5 img{
    width: 95%;
}
.sec5txt{
    margin-top: -30px;
    margin-left: -20px;
    
}
.sec5btn{
    margin-top: -2px;
}
.sec5btnlinks img{
    width: 15px;
}
.sec6{
    height: 780px;
}
.sec6btn{
    margin-top: 18px;
}
}