*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logohr hr{
    height: 1px;
    width: 100%;
    color: rgba(128, 128, 128, 0);
    box-shadow: 1px  0px 2px gray;
}
.logo{
    margin-left: 40px;
    margin-top: 20px;
   
}
.txt1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}
.txt2{
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.705);
    font-weight: bold;
    padding-top: 5px;
}
.txt3{
    text-align: center;
    color: rgba(0, 0, 0, 0.705);
}
.txt3 a{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.705);
}
.txt3 a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.705);
}
.FBtxt1{
    font-size: 18px;
    color: black;
}
.PI{
    font-size: 20px;
    font-weight: 600;
}
.AC{
    font-size: 20px;
    font-weight: 600;
    padding-top: 40px;
}
.fillbox input{
    height: 45px;
    width: 380px;
    border-radius: 10px;
     border: 1.5px solid rgba(0, 0, 0, 0.534);
     padding-left: 10px;
}
.fillbox{
    margin-top: 30px;
}
.fillbox input:focus{
    outline: none;
}
.fillbox input::placeholder{
    color: black;
    font-size: 16px;
}
.formbox{
    height: 1200px;
    width: 600px;
    /* background-color: red; */
    margin-left: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 40px;
}
.AHaSGCtxt{
    font-size: 20px;
    font-weight: 600;
    color: darkgreen;
    padding-top: 30px;
}

.CollectmoreStarstxt{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.534);
    padding-top: 15px;
}
.CollectmoreStarstxt2{
    font-size: 17px;
}
.CollectmoreStarstxt3{
    font-size: 17px;
}
.CollectmoreStarstxt4{  
    font-size: 17px;
    color: rgba(0, 0, 0, 0.534);
}
.TermsofUsetxt{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.534);
    padding-top: 20px;
}
.TermsofUsetxtB{
    font-size: 17px;
}
.TermsofUsetxtB a{
    text-decoration: underline;
    color: darkgreen;
}
.TermsofUsetxtB a:hover{
    text-decoration: none;
    color: darkgreen;
}
.formbtn button{
    height: 55px;
    width: 170px;
    border-radius: 30px;
    background-color: green;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.formbtn{
    display: flex;
    justify-content: right;
    margin-top: 50px;
}

.txt3ML{
    display: none;
}
.formboxhr hr{
    height: 1px;
    width: 100%;
    margin-top: 60px;
}











.footer1 {
    font-size: 20px;
}

.footer1 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer2 {
    font-size: 20px;
}

.footer2 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer3 {
    font-size: 20px;
}

.footer3 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer4 {
    font-size: 20px;
}

.footer4 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer5 {
    font-size: 20px;
}

.footer5 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.Allfootertxt {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.Allfootertxt a:hover {
    color: black;
}

.footerhr hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.098);
    width: 94%;
    margin-top: 40px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.363);
    /* margin-left: 40px; */
}

.ALLicons {
    display: flex;
    gap: 15px;
    margin: 40px;
}

.footer6 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.footer6 a:hover {
    text-decoration: underline;
}


.footer{
    padding-left: 10%;
}      








@media(max-width:900px){
    .formbox{
        box-shadow: none;
        /* background-color: brown; */
        width: 90%;
        margin-right: 40px;
    }
    .fillbox input{
        width: 100%;
    }
    .FBtxt1{
        margin-top: -65px;
    }
    .txt1{
        margin-top: -50px;
    }
    .txt2{
        display: none;
    }
    .txt3a{
        display: none;
        
    }
    .txt3ML{
        display: flex;
        flex-direction: column;
        text-align: center;
        /* background-color: red; */
        /* width: 90%; */
        font-size: 14px;
    }
        
        .formboxhr hr{
            margin-top: -50px;
        }      
}