* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logoandfirstbar{
    display: flex;
    gap: 50px;
}

.firstandsecondnav {
    display: flex;
    align-items: center;
    gap: 38%;
    padding: 40px;
}

.navlink {
    display: flex;
    align-items: center;
    gap: 30px;
}

.imagesandFAS {
    display: flex;
    align-items: center;
    gap: 5px;
}

.firstandsecondnav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbtn1 button {
    height: 34px;
    width: 85px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
}

.navbtn2 button {
    height: 32px;
    width: 95px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
}
.harmbugger{
    display: none;
}
.menunavbar{
    height: 50px;
    width: 100%;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    box-shadow:  1px 0px 3px gray;
    margin-top: -30px;
}
.zxz{
    position: sticky;
    top: 0.1px;
    background-color: whitesmoke;
    width: 100%;
}
.menunavlink{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 12px;
    margin-left: 9.5%;
}
.menunavlink a{
    text-decoration: none;
    color: black;
}
.sec2{
    margin-top: 70px;
}
.MENUhr hr{
    height: 1px;
    width: 130%;
    color: gray;
    margin-top: 20px;
}
.drinksimg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.drinksimagesandtxt{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: black;
    flex-wrap: wrap;
}
.THE2drinksimagesandtxt{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap;

}
.drinksimg2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.drinksimagesandtxt2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sec2andMENU{
    display: flex;
    gap: 120px;
    margin-left: 10%;
}
.FOOD hr{
    height: 1px;
    width: 130%;
    color: gray;
    margin-top: 20px;
}
.ATTHECOFFEE hr{
    height: 1px;
    width: 130%;
    color: gray;
    margin-top: 20px;
}
.MENU{
    margin-top: 75px;
}
.drinkspstyle{
    font-size: 18px;
    color: gray;
}
.foodpstyle{
    font-size: 18px;
    color: gray;
}
.AtHomeCoffeestyle{
    font-size: 18px;
    color: gray;
}

.sec7hr hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.098);
    width: 100%;
    margin-top: 70px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.363);
}

.footer1 {
    font-size: 20px;
}

.footer1 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer2 {
    font-size: 20px;
}

.footer2 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer3 {
    font-size: 20px;
}

.footer3 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer4 {
    font-size: 20px;
}

.footer4 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer5 {
    font-size: 20px;
}

.footer5 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.Allfootertxt {
    display: flex;
    gap: 50px;
    margin: 40px;
    flex-wrap: wrap;
}

.Allfootertxt a:hover {
    color: black;
}

.footerhr hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.098);
    width: 94%;
    margin-top: 40px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.363);
    margin-left: 40px;
}

.ALLicons {
    display: flex;
    gap: 15px;
    margin: 40px;
}

.footer6 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.footer6 a:hover {
    text-decoration: underline;
}

.footer6 {
    margin-left: 40px;
}




.MenuLnav{
    height:100px;
    width: 100%;
    background-color: #224840;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
}
.menunavbar{
    position: static;
        /* bottom: 0; */
        width: 100%;
}
.MLNBhr hr{
    height: 1;
    width: 220px;
    background-color: gray;
    margin-top: 5px;

}
.menusmallhr hr{
    height: 1px;
    width: auto;
    background-color: black;
    margin-top: 5px;
}


.bigunderline{
    position: relative;
 
}
.bigunderline::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #025B2D;
    bottom: -28px;
    left: 0px;
    
}







@media(max-width:900px){
    .navlink a{
        display: none;
    }
    .harmbugger {
        font-size: 25px;
        display: flex;
    }
    .firstandsecondnav {
        display: flex;
        justify-content: space-between;
       gap:230px;
       margin-bottom: -35px;
    }
   
    
    .navbtn1{
        display: none;
    }
    .navbtn2{
        display: none;
    }
    .imagesandFAS {
        display: none;
    }
.menunavbar{
    margin-top: 10px;
    width: 100%;
}
.MENUhr{
    width: 320px;
}
.FOODhr{
    width: 320px;

}
.ATTHECOFFEEhr{
    width: 320px;
}
.sec2{
    display: none;
}
.footerhr{
    width: 450px;
}
.sec7hr{
    width: 450px;

} 
}