* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoandfirstbar{
    display: flex;
    gap: 50px;
}

.firstandsecondnav {
    display: flex;
    align-items: center;
    gap: 38%;
    padding: 40px;
}

.navlink {
    display: flex;
    align-items: center;
    gap: 30px;
}

.imagesandFAS {
    display: flex;
    align-items: center;
    gap: 5px;
}

.firstandsecondnav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbtn1 button {
    height: 34px;
    width: 85px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
}

.navbtn2 button {
    height: 32px;
    width: 95px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
}
.harmbugger{
    display: none;
}
.SBRsmall{
    height: 50px;
    width: 100%;
    background-color: #025B2D;
    margin-top: -30px;
}
.SBRsmalltxt{
    margin-left: 12%;
    font-size: 18px;
    color: white;
    font-weight: 700;
    padding-top: 12px;
}
.istcard{
    height: 450px;
    width: 50%;
    background-color: #CDB891;
}
.istcardtxt1{
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #2D4733;
    padding-left: 50px;
    padding-top: 50px;
}
.istcardtxt2{
    font-size: 18px;
    padding-left: 50px;
    color: #2D4733;
    padding-top: 30px;
}
.istcardbtn button{
    height: 40px;
    width: 100px;
    background-color: #025B2D;
    border-radius: 20px;
    border: none;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.istcardtxt3{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 30px;

}
.istcardtxt3a{
    font-size: 18px;
    padding-left: 50px;
    color: #2D4733;
}
.istcardtxt3b a{
    text-decoration: underline;
    font-size: 18px;
    color: #2D4733;
}
.istcardtxt3b a:hover{
    text-decoration: none
}
.iicard{
    height: 450px;
    width: 50%;
    background-image: url("images/1-2.webp");
    /* background-position: center; */
    background-size: cover;
    /* min-width: 480px; */

}
.sec1{
    display: flex;
    flex-wrap: wrap;
    /* min-width: 780px; */
}
.sec3txt1{
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 70px;
    font-weight: 700;
}
.sec3txtb{
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-weight: lighter;
}
.sec4acircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #025B2D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #025B2D;
    /* margin-left: 10%; */
    flex-wrap: wrap;

}
.sec4acircle1{
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}
.sec4atxt1{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    /* padding-left: 70px; */
    text-align: center;
}
.sec4atxt2{
    /* padding-left: 30px; */
    margin-top: 30px;
}
.sec4atxt2a{
    font-size: 18px;
    text-align: center;
    flex-wrap: wrap;
}
.sec4atxt2a a{
    text-decoration: underline;
    color: #025B2D;
}
.sec4atxt2a a:hover{
    text-decoration: none;
}
.sec4a{
    /* height: auto;
    width: 500px;
    background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.sec4{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 5%;
    flex-wrap: wrap;

}
.se5txt1{
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 70px;
    font-weight: 700;
}
.sec5txt2{
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-weight: lighter;
}
.ALLSEC5B{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 5%;
    flex-wrap: wrap;

}
.sec5B{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.sec5B1txta{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    text-align: center;
}
.sec5B1txtb{
    font-size: 18px;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.sec5Blearnmore a{
    font-size: 18px;
    text-decoration: underline;
    color: green;
}
.sec5Blearnmore a:hover{
    text-decoration: none;
}
.sec5Blearnmore{
    margin-top: 25px;
}
.section6{
    margin-top: 90px;
}
.section6box{
    width: 100%;
    height: 730px;
    background-color: #CDB891;
}
.sec6txt1{
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
}
.sec6txt2{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    font-weight: lighter;
}
.perdoller1and2{
    display: flex;
    gap: 120px;
    margin-left: 40px;
    margin-top: 90px;
    flex-wrap: wrap;
}
.scanandpay{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.scanandpaytxta{
font-size: 19px;
font-weight: 600;
}
.scanandpaytxtb{
    font-size: 17px;
}
.perDtxt1{
    font-size: 25px;
    font-weight: 600;
}
.perDtxt1b{
    font-size: 17px;
}
.section6hr{
    width: 93%;
    margin-left: 40px;
   background-color: rgba(0, 0, 0, 0);
   margin-top: 30px;
}
.perD2{
    margin-top: 40px;
}
.sec7bigbgbox{
    height: 650px;
    width: 100%;
    background-image: url("images/geometricimg.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec7box{
    height: 570px;
    width: 95%;
    background-color: #DDE6E3;
}





.se7txt1{
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 70px;
    font-weight: 700;
}
.sec7txt2{
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-weight: lighter;
}
.ALLSEC7B{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 5%;
}
.sec7B{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec7B1txta{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
.sec7B1txta a{
    text-decoration: underline;
    color: #025B2D;
}
.sec7B1txta a:hover{
    text-decoration: none;
    color: #025B2D;
}
.sec7boxbtn button{
    height: 35px;
    width: 210px;
    border-radius: 20px;
    background-color: #025B2D;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.sec7boxbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.bigunderline{
    position: relative;
 
}
.bigunderline::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #025B2D;
    bottom: -28px;
    left: 0px;
    
}
.sec8txt1{
    font-size: 30px;
    color: black;
    padding-top: 70px;
    font-weight: 700;
    padding-left: 20%;
}
.sec8txt2{
    font-size: 18px;
    margin-top: 30px;
    padding-left: 20%;
}
.sec8txt2 a{
    text-decoration: underline;
    color: #025B2D;
}
.sec8txt2 a:hover{
    text-decoration: none;
    color: #025B2D;
}
.sec8Btxt a{
    text-decoration: underline;
    color: #025B2D;
}
.sec8Btxt a:hover{
    text-decoration: none;
    color: #025B2D;
}
.section8B{
    margin-left: 40px;
    margin-top: 10%;
}
.bothsec8Cparts{
    display: flex;
    gap: 50px;
    margin-left: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.sec8CtxtH{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.664);
    font-weight: 600;
}
.sec8Ctxt2a a{
    text-decoration: underline;
    color: #025B2D;
}
.sec8Ctxt2a a:hover{
    text-decoration: none;
    color: #025B2D;
}
.section8hr{
    height: 1px;
    width: 100%;
    margin-top: 90px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
    0 -1px 2px rgba(0, 0, 0, 0.1);
}




.footer1 {
    font-size: 20px;
}

.footer1 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer2 {
    font-size: 20px;
}

.footer2 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer3 {
    font-size: 20px;
}

.footer3 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer4 {
    font-size: 20px;
}

.footer4 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer5 {
    font-size: 20px;
}

.footer5 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.Allfootertxt {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.Allfootertxt a:hover {
    color: black;
}

.footerhr hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.098);
    width: 94%;
    margin-top: 40px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.363);
    /* margin-left: 40px; */
}

.ALLicons {
    display: flex;
    gap: 15px;
    margin: 40px;
}

.footer6 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.footer6 a:hover {
    text-decoration: underline;
}

.footer6 {
    
}
.footer{
    padding-left: 10%;
}



.starcksMLbtn button{
    height: 35px;
    width: 150px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
    border-radius: 20px;
    color: white;

}
.starcksMLbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.starcksMLbtn{
    display: none;
}
.SBRsmall{
    display: flex;
    justify-content: space-between;
}
.istcardtxt1M{
    display: none;
    text-align: center;
}

.istcardtxt3bML{
    display: none;
}








@media(max-width:900px){
    .navlink a{
        display: none;
    }
    .harmbugger {
        font-size: 25px;
        display: flex;
    }
    .firstandsecondnav {
        display: flex;
        justify-content: space-between;
       gap:200px;
       margin-bottom: -35px;
    }
   
    
    .navbtn1{
        display: none;
    }
    .navbtn2{
        display: none;
    }
    .imagesandFAS {
        display: none;
    }
.menunavbar{
    margin-top: 10px;
    width: 100%;
}
.MENUhr{
    width: 320px;
}
.FOODhr{
    width: 320px;

}
.ATTHECOFFEEhr{
    width: 320px;
}
.sec2{
    display: none;
}
.footerhr{
    width: 450px;
}
.sec7hr{
    width: 450px;

}
    .SBRsmall{
        margin-top: 20px
    }
    .sec4acircle{
        text-align: left;
    }



    .sec1{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .istcard{
        width: 100%;
    }
    .iicard{
        width: 100%;
        margin-top: -20px;
    }
    .istcardtxt1{
        text-align: center;
    }
    .istcardbtn{
        display: flex;
        justify-content: center;
        margin-right: 45px;
    }
    .starcksMLbtn{
        display: flex;
    }
    .istcardtxt1M{
        display: flex;
        font-size: 30px;
        color: #025B2D;
        text-align: center;
        justify-content: center;
        padding-top: 30px;
        font-weight: 600;

    }
    .istcardtxt1{
        display: none;
    }
    .istcardtxt3bML{
        display: flex;  
        font-size: 20px;
    }
    .istcardtxt3bML a{
        text-decoration: underline;
        color: #2D4733;
    }
     .istcardtxt3bML a:hover{
        text-decoration: none;
     }
    .istcardtxt3{
        display: flex;
        justify-content: center;
    }
    .istcardtxt3a{
        display: none;
    }
     .istcardtxt3b{
        display: none;
    }
    .istcardtxt2{
        font-size: 19px;
    }
    .sec4a{
        margin-top: 20px;
    }
    .sec5B{
        margin-top: 30px;
    }
    .section6box{
        height: 1800px;
    }
    .section6hr{
        width: 100%;
        margin-left: 0px;
    }
    .scanandpay{
        margin-top: -20px;
    }
    .sec7box{
        width: 100%;
        height: 1080px;
        margin-bottom: 90px;
    }
    .sec8txt1{
        /* margin-top: 90px; */
    }
    .sec6txt1 p{
        font-size: 25px;
    }
    .scanandpayimg img{
        width: 150px;
    }
    .sec7B{
        margin-top: 30px;
    }
    .section8 p{
        padding-left: 40px;
        font-size: 25px;
    }
    
    .section8{
        padding-top: 150px;
        width: 90%;
    }
    .sec7bigbgbox{
        background-image: none;
    }
    .section8B{
        width: 90%;
    }
    .section8B p{
        font-size: 25px;
    }
    .sec8Ctxt1{
        font-size: 25px;
        width: 90%;
    }
    .sec8CtxtH{
        font-size: 25px;
    }
    .sec8Ctxt2 p{
        font-size: 25px;
    }
}