* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec5btn {
    display: flex;
    height: 35px;
    width: 130px;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    gap: 10px;
    margin-top: 40px;
}

.sec5 {
    display: flex;
    gap: 50px;
    margin-left: 10%;
    margin-top: 50px;
}

.sec5txt {
    font-size: 28px;
    font-weight: 500;
    color: black;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 20px;
}

.sec5txt2 {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: lighter;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.728);
}

.sec5btn:hover {
    background-color: rgba(0, 0, 0, 0.308);
}

.sec6 {
    height: 400px;
    width: 100%;
    background-color: #EDEBE9;
    margin-top: 50px;
}

.sec6btn {
    display: flex;
    height: 35px;
    width: 130px;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
}

.sec6btn:hover {
    background-color: rgba(0, 0, 0, 0.308);
}

.sec6bbtn {
    display: flex;
    height: 35px;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
}

.sec6bbtn:hover {
    background-color: rgba(0, 0, 0, 0.308);
}

.ALLSEC6txt {
    display: flex;
    gap: 40px;
    padding-top: 50px;
    padding-left: 10%;
}

.sec6txt {
    font-size: 18px;
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.sec6txt2a{
    font-size: 18px;
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.sec6btxt{
    font-size: 18px;
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.sec6txtb{
    font-size: 15px;
}
.sec6txt2b{
    font-size: 15px;
}



.footer1 {
    font-size: 20px;
}

.footer1 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer2 {
    font-size: 20px;
}

.footer2 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer3 {
    font-size: 20px;
}

.footer3 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer4 {
    font-size: 20px;
}

.footer4 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.footer5 {
    font-size: 20px;
}

.footer5 a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 18px;
}

.Allfootertxt {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.Allfootertxt a:hover {
    color: black;
}

.footerhr hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.098);
    width: 94%;
    margin-top: 40px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.363);
    /* margin-left: 40px; */
}

.ALLicons {
    display: flex;
    gap: 15px;
    margin: 40px;
}

.footer6 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.footer6 a:hover {
    text-decoration: underline;
}

.footer6 {
    
}
.footer{
    padding-left: 10%;
}